* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89vh;
    overflow: hidden;
}

.mobile-container {
    width: 400px;
    height: 100%;
    background-color: rgb(247, 247, 253);
    position: relative;
    flex-shrink: 0;
}

.inner-container {
    position: absolute;
    word-wrap: break-word;
    max-width: 250px;
    bottom: 20px;
    padding: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    all: unset;
    background: #7659d0;
    height: 16px;
    padding: 13px 22px;
    width: 320px;
    max-width: 340px;
    border-radius: 0.5rem;
    color: #f8ecec;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width:768px) {
    .mobile-container {
        width: 360px;
        height: 150%;
    }
    .inner-container h1 {
        font-size: 24px;
    }

    .inner-container p {
        font-size: 16.7px;
    }

    button {
        height: 18px;
        width: 300px;
        font-size: small;
    }
    .inner-container{
        bottom: 60px;
    }
    
}
@media(max-width: 1080px){
    .inner-container{
        bottom: 50px;
    }
    .main-container{
        height: 90vh;
    }
    .mobile-container {
        width: 300px;
        height: 97vh;
    }

    .inner-container h1 {
        font-size: 22px;
    }

    .inner-container p {
        font-size: 15.7px;
    }

    button {
        height: 14px;
        width: 230px;
        font-size: small;
    }
    

}