.login-top{
    padding: 40px 17px;
    word-wrap: break-word;
    max-width: 200px;
}
.login-top h2{
font-size: xx-large;
}

 .paragraph{
   margin-top: -31px;
   margin-left: 17px;
    word-wrap: break-word;
    max-width: 276px;
    color: rgb(130, 129, 129);
    font-size: 20px;
    line-height: 25px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 17px;
}
.login-only{
    margin: 0 17px;
    background: rgb(206, 205, 206);
    color: #fff;
}
@media(max-width:768px){
    .login-top h2{
        font-size: x-large;
    }
    .paragraph{
        font-size: 15px;
        max-width: 200px;
        line-height: 19px;
    }
    
}
@media(max-width:1024px){
    .login-top{
        padding: 70px 17px;
        word-wrap: break-word;
        max-width: 200px;
    }
    .paragraph{
        margin-top: -65px;
    }
}